#map {
    height: 600px;
    width: 1000px;
}

.streetview {
    top: 65px;
    left: .5em;
}

.combovDX {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	text-align: right;
}

.combovSX {
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
	text-align: left;
}
