{% extends "admin/change_form.html" %}
{% load add_preserved_filters from admin_urls %}
{% block extrahead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css" />
    <link rel="stylesheet" href="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.css" />
    <!-- URB PD -->
    <link rel="stylesheet" href="{{ site_subpath }}/static/djakart/versioni_finestramappa.css?id=123236600233" />
    <script
    src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol-debug.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
    <!-- DJAKART -->
    <script type="text/javascript" src="https://epsg.io/{{ crs }}.js"></script>
    <script type="text/javascript">var CRSID = "EPSG:{{ crs }}"; var CRSCODE = {{ crs }};</script>
    <script type="text/javascript" src="{{ site_subpath }}/djakart/basemaps/foreground/"></script>
    <script type="text/javascript" src="{{ site_subpath }}/djakart/basemaps/background/"></script>
    <script type="text/javascript" src="{{ site_subpath }}/djakart/vlist/{{ object_id }}/"></script>
    <script type="text/javascript" src="{{ site_subpath }}/static/djakart/versioni_finestramappa.js?id=55006603039"></script>
    <script type="text/javascript" src="{{ site_subpath }}/static/djakart/generate_diff.js?id=9331006603"></script>
    <script type="text/javascript" src="{{ site_subpath }}/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="{{ site_subpath }}/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript">

    </script>
{% endblock %}

{% block object-tools-items %}
  {% for tool in objectactions %}
    <li class="objectaction-item" data-tool-name="{{ tool.name }}">
      {% url tools_view_name pk=object_id tool=tool.name as action_url %}
      <a href="{% add_preserved_filters action_url %}" title="{{ tool.standard_attrs.title }}"
         {% for k, v in tool.custom_attrs.items %}
           {{ k }}="{{ v }}"
         {% endfor %}
         class="{{ tool.standard_attrs.class }}">
      {{ tool.label|capfirst }}
      </a>
    </li>
  {% endfor %}
  {{ block.super }}
{% endblock %}

{% block admin_change_form_document_ready %}
{{ block.super }}
{% endblock %}
