*.pyc
__pycache__
data/static/*
data/media/*
data/kart_versions/*
data/pgdata/*
test_data*

.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Unit tests coverage reports
/webgis/test/unit/coverage/
/webgis/tests/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
