

{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation
  delete-selected-confirmation{% endblock %}

{% block extrahead %}
{{ block.super }}
<script>

function enableCommit(){

  const messageInput = document.getElementById("{{ parameter }}")
  const commitButton = document.getElementById("commit")

  if (messageInput.value == undefined || messageInput.value.length == 0){
    commitButton.style.display = 'none'
  } else {
    commitButton.style.display = 'block'
  }
}

</script>

{% endblock %}

{% block content %}
  <hr>
  <br>
  <form action="" method="GET">{% csrf_token %}
    <div class="submit-row" style="display:flex!important;align-items: center;">
      <label style="margin:2px;font-size:1.2em;align-items: center;" for="{{ parameter }}">{{ parameter }}: {{ value }}</label>
      <input style="width:400px;margin:2px;" type="text" id="{{ parameter }}" name="{{ parameter }}" value="" oninput="enableCommit()"/>
      <input style="display:none;margin:2px;" id="commit" type="submit" name="confirmation" value="Ok"/>
      <input style="margin:2px;" type="submit" name="back" value="No, go back" onclick="window.history.back(); return false;"/>
    </div>
  </form>
{% endblock %}